nav#siteNav {
  .logo {
    font-size: 3rem;
    svg {
      height: 32px;
      width: auto;
      path {
        stroke: var(--base05) !important;
        fill: var(--base07) !important;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      height: 100%;
      a {
        color: var(--base04);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 var(--spacing02);
        text-decoration: none;
        line-height: 1;
        &:hover {
          text-decoration: underline;
        }
      }
      button.theme {
        padding: calc(var(--spacing01) / 2) var(--spacing01);
        margin: 0;
        border: 0;
        svg.moon,
        svg.sun {
          position: relative;
          height: auto;
        }
        svg.moon {
          width: 1rem;
          fill: var(--base05);
        }
        svg.sun {
          top: 1px;
          width: 1rem;
          fill: var(--base07);
        }
      }
    }
  }
}

// Highlight active menu item
#home a.home,
#ports a.ports,
#about a.about {
  text-decoration: underline;
}
