.container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  &.reverse {
    flex-direction: row-reverse;
  }
}
